<div class="container">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @loans.each do |loan| %>
        <tr>
            <td><%= loan.item.name %></td>
            <td><%= loan.item.user.name %></td>
            <td><%= loan.status %></td>
            <td> <%= link_to 'Delete', user_loan_path(user_id: current_user.id, id: loan.id), method: :delete, class: "text-danger" %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>