<div class="container">
    <h1>Item: <%= @item.name %> </h1>
    <p>Status: <%= @item.loaned ? "Loaned" : "Not loaned" %></p>
    <% if current_user.id == @item.user_id %>
        <%= link_to 'Edit', edit_user_item_path(id: @item.id) , class: "d-block text-primary" %>
        <%= link_to 'Delete', user_item_path(id: @item.id), method: :delete , class: "d-block text-danger" %>
    <% else %>
    <% end %>
</div>